# Environment: production | development
ENV=development

# Wiseconn API
API_KEY=your_wiseconn_api_key

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Flask
SECRET_KEY=your_secret_key

# Ubibot API
UBIBOT_ACCOUNT_KEY=your_ubibot_account_key

# SendGrid
SENDGRID_API_KEY=your_sendgrid_api_key
